/.gradle
/.idea
/config-server/build
/service-config/build
configer.iml
*.log
/config-server/tomcat/logs/*
/config-server/tomcat/webapps/*.*
/config-server/tomcat/webapps/*
/config-server/src/main/webapp/*.*
/config-server/online
