<div class="row login-form">
  <div class="col-lg-4 col-md-2"></div>
  <div class="col-lg-4 col-md-8">
    <form (submit)="signup($event, username.value, email.value, password.value, password2.value)">
      <section class="form-block">
        <div class="card">
          <div class="card-header">
            <h2>Signup</h2>
            Arksea Config Server
          </div>
          <div class="card-block">
            <div class="login-form-group">
              <label class="control-label" for="username">User Name</label>
              <input type="text" #username class="username" id="username">
              <label class="control-label" for="email">Email</label>
              <input type="email" #email class="email" id="email">
              <label class="control-label" for="password">Password</label>
              <input type="password" #password class="password" id="password">
              <label class="control-label" for="password2">Password Again</label>
              <input type="password" #password2 class="password" id="password2">
              <button type="submit" class="btn btn-primary">Signup</button>
              <a class="login" [routerLink]="['/login']">Login use exists account</a>
            </div>
          </div>
        </div>
      </section>
    </form>
  </div>
  <div class="col-lg-4 col-md-2"></div>
</div>