.login-form {
  display: flex;
}

.login-form-group {
  display: flex;
  flex-direction: column;
  padding: 2rem 0 0 0;
}

.username,
.password,
.checkbox {
  margin: 0.25rem 0 0.75rem 0;
}

.btn {
  margin: 3rem 0 0 0;
  max-width: none;
}

.signup {
  margin-top: 0.5rem;
  font-size: 0.5833rem;
  text-align: center;
}