<div class="row">
    <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="card-header">
                {{config.name}}
                <p>{{config.description}}</p>
            </div>
            <div class="card-block">
                <div class="card-text">
                    <textarea style="border:0;overflow:hidden" [readonly]="true" class="form-control" rows="{{docLineCount}}">{{config.doc.value}}</textarea>
                </div>
            </div>
            <div class="card-footer">
                <button class="btn btn-sm btn-link">Edit</button>
                <button class="btn btn-sm btn-link">Delete</button>
            </div>
        </div>
    </div>
</div>