<div class="main-container">
    <app-header></app-header>
    <div class="content-container">
        <div class="content-area">
            <app-project [projectId]='projectId'></app-project>
        </div>
        <nav class="sidenav">
            <section class="sidenav-content">
                <app-project-tree></app-project-tree>
            </section>
        </nav>
    </div>    
    <div id="footer">
        Copyright &copy; arksea@gmail.com
        <a href="https://github.com/arksea/configer"> GitHub</a>
    </div>
</div>
