<nav class="subnav">
        <div class="btn-group btn-link">
            <button class="btn" (click)="onClickRefreshBtn()">
                <clr-icon shape="refresh"></clr-icon>
            </button>
            <button class="btn">
                <clr-icon shape="add"></clr-icon>
                New
            </button>
            <button class="btn">
                <clr-icon shape="trash"></clr-icon>
                Del
            </button>
        </div>
</nav>
<clr-tree-node *ngFor="let prj of treeRoot | async">
    <clr-icon shape="folder"></clr-icon>
    {{prj.title}}
    <ng-template [(clrIfExpanded)]="prj.expanded">
        <clr-tree-node *ngFor="let profile of prj.nodes">
            <clr-icon shape="grid-view"></clr-icon>
            <a routerLink="/projects/{{profile.value.id}}"
                    class="clr-treenode-link"
                    (click)="onClickOne(profile.value)"
                    routerLinkActive="active">
                {{profile.title}}
            </a>
        </clr-tree-node>
    </ng-template>
</clr-tree-node>
