<header class="header header-6">
    <div class="branding">
        <a href="#" class="nav-link">
            <clr-icon shape="blocks-group"></clr-icon>
            <span class="title">Arksea Config Server</span>
        </a>
    </div>
    <div class="header-actions">
        <clr-dropdown>
            <button class="nav-icon" clrDropdownTrigger>
                <clr-icon shape="user"></clr-icon>
                <clr-icon shape="caret down"></clr-icon>
            </button>
            <clr-dropdown-menu *clrIfOpen clrPosition="bottom-right">
                <a href="#login" clrDropdownItem>Log in</a>
            </clr-dropdown-menu>
        </clr-dropdown>
    </div>
</header>