<div class="main-container">
  <header class="header header-6">
      <div class="branding">
          <a href="..." class="nav-link">
              <clr-icon shape="blocks-group" ></clr-icon>
              <span class="title">Actor Register Web</span>
          </a>
      </div>
  </header>
  <div class="content-container">
      <div class="content-area">
          <!-- <router-outlet></router-outlet> -->
      </div>
  </div>
  <div id="footer">
    Copyright &copy; arksea@gmail.com <a href="https://github.com/arksea/configer">Configer GitHub Project</a>
  </div>
</div>