<div class="widget form-group">
    <label [attr.for]="id" class="horizontal control-label">
        {{ schema.title }}
    </label>
    <div *ngIf="schema.type!='array'" class="checkbox">
        <input [formControl]="control" [attr.name]="name" [indeterminate]="control.value !== false && control.value !== true ? true :null"
            type="checkbox" [attr.disabled]="schema.readOnly">
        <label [for]="id" class="horizontal control-label">{{schema.description}}</label>
        <input *ngIf="schema.readOnly" [attr.name]="name" type="hidden" [formControl]="control">
    </div>
    <ng-container *ngIf="schema.type==='array'">
        <div *ngFor="let option of schema.items.oneOf; let i=index" class="checkbox">
            <input [attr.name]="name+i" [attr.id]="id+i" value="{{option.enum[0]}}" type="checkbox" [attr.disabled]="schema.readOnly"
                   (change)="onCheck($event.target)"
                   [attr.checked]="checked[option.enum[0]] ? true : null">
            <label [for]="id+i" class="horizontal control-label">{{option.description}}</label>
        </div>
    </ng-container>
</div>