/* header */
#header {margin-bottom:15px;}

#header h1 a {
    color: #658A16;
    text-decoration: none
}

#header h1 small {color: #BACE87;}

/* footer */
#footer {
    margin-top: 15px;
    padding: 15px 0px 0px 0px;
    font-size: 95%;
    text-align: center;
    border-top: 2px solid #658A16;
}

#footer a {color: #999;}

.css-form *.ng-invalid.ng-dirty {
    background-color: #FA787E;
}

.scrollTable {overflow-x: auto; width: 100%; }
.scrollTable .odd td { background:#ccc; border-bottom:1px solid #000; border-top:1px solid #000; }
